body {
    padding-top: 54px;
    font-family: 'Work Sans', sans-serif;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.ng-invalid.ng-dirty {
  border-color: red;
}

#amper {
    max-height: 23px;
    opacity: 0.6;
    padding-left: 6px;
    padding-right: 4px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #664a38;
    border-color: #664a38;
}

.btn-primary:hover {
    color: #fff;
    background-color: #452d1d;
    border-color: #452d1d;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #a8876b;
    border-color: #a8876b;
}

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #452d1d;
    border-color: #452d1d;
}

.bg-dark {
    background-color: #0f0a06 !important;
}

.trans-back {
  background: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

@font-face {
    font-family: 'lucida_calligraphyitalic';
    src: url('lucida_calligraphy_italic-webfont.woff2') format('woff2'),
         url('lucida_calligraphy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader {
  border: 9px solid #f3f3f3;
  border-top: 9px solid #664a38;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
