body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

#amper {
    max-height: 23px;
    opacity: 0.6;
    padding-left: 6px;
    padding-right: 4px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #664a38;
    border-color: #664a38;
}

.btn-primary:hover {
    color: #fff;
    background-color: #452d1d;
    border-color: #452d1d;
}

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #452d1d;
    border-color: #452d1d;
}

.bg-dark {
    background-color: #0f0a06 !important;
}

.trans-back {
  background: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

@font-face {
    font-family: 'lucida_calligraphyitalic';
    src: url('lucida_calligraphy_italic-webfont.woff2') format('woff2'),
         url('lucida_calligraphy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
