<!-- Page Content -->
<div class="container" ng-controller="aboutController">

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="img/owners.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>About Mindful Massage</h2>
      <p>So much of our lives are spent scurrying here and there. Our bodies are in perpetual motion, and our minds tend to follow the same pattern always thinking about something we need to do or mulling over some problem. Our minds are forever dwelling in the past or racing into the future. It is a rare occurrence for the body and mind to relax and be totally in the present.</p>
      <p>Attending to the present moment is being in a state of mindfulness. When we are mindful of the present moment we are able to feel refreshed and have mental clarity. Mindfully attending to our lives is a practice we can develop through common daily acts such as walking, eating and breathing. Massage therapy and bodywork in general are excellent ways to encourage mindfulness. Therapeutic touch facilitates being present, being in the here and now.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <h2>Our Staff</h2>

  <div class="row">
    <div class="col-lg-3 mb-5" ng-repeat="st in staff">
      <div class="card h-100 text-center">
        <input type="image" class="card-img-top" ng-src="{{st.img}}" alt="" data-toggle="modal" data-target="#bio-modal-{{$index}}">
        <div class="modal fade" id="bio-modal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" style="text-align: left;" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">{{st.name}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-4">
                    <img ng-src="{{st.img}}">
                  </div>
                  <div class="col-md-8">
                    <div ng-show="st.education">
                      <h4>Education</h4>
                      <div ng-repeat="e in st.education"> - {{e}}</div>
                      <br>
                    </div>
                    <div ng-show="st.discounts">
                      <h4>Discounts</h4>
                      $10 off 1 hour+ massages for
                      <div ng-repeat="d in st.discounts"> - {{d}}</div>
                      <br>
                    </div>
                    <div ng-show="st.license">
                      <h5>License Number</h5>
                      {{st.license}}
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <p>{{st.bio}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding: 9px">
          <h4 class="card-title">{{st.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{st.edu}}</h6>
        </div>
      </div>
    </div>
  </div>

</div>
