<div class="container" ng-controller="serviceController">
  <div class="row">
    <div class="col-lg-6 mb-4" ng-repeat="service in services">
      <div class="card h-100">
        <h5 class="card-header">{{service.name}}</h5>
        <div class="card-body" style="padding-bottom:0;" ng-if="service.img">
          <img class="img-thumbnail" style="padding: 0;" src="/img/massage/{{service.img}}.jpg"/>
        </div>
        <div class="card-body">
          <p class="card-text">{{service.desc}}</p>
        </div>
        <div class="card-footer" ng-show="service.link || service.prices">
          <a ng-show="service.link" ng-href="{{service.link}}" target="_blank" class="btn btn-sm btn-primary">Learn More</a>
          <a ng-show="service.video" ng-href="{{service.video}}" target="_blank" class="btn btn-sm btn-info">Watch Video</a>
          <button class="btn btn-sm btn-secondary" type="button" data-toggle="collapse" data-target="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}">
            View Prices
          </button>
          <div class="collapse" id="collapse-{{$index}}">
              <br>
            <div class="card card-block">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="price in service.prices">{{price.duration}} <span class="float-right">{{price.price}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

