<div class="container" ng-controller="storeController">

  <div>
    <div class="row">
      <div ng-show="pane == 'shop'" class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 mb-3 pr-1" ng-repeat="item in inventory">
            <div class="card h-100 text-center">
              <h5 class="card-header">{{item.name}}</h5>
              <div class="card-body">
                <p class="card-text"><small class="text-muted">{{item.description}}</small></p>
              </div>
              <div class="dropdown card-footer">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add to cart
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" ng-repeat="var in item.variations | orderBy:'price'" ng-click="cartAdd(item, var)">
                    {{var.name}}: {{formatMoney(var.price)}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="pane == 'customize'" class="col-lg-8">
        <form name="giftForm">
          <div class="card" ng-repeat="order in cart">
            <h5 class="card-header">(x{{order.quantity}}) {{order.disp.variation.name}} {{order.disp.item.name}}{{couplesSuffix(order)}}</h5>
            <div class="card-body">
                <div class="form-group row">
                  <label for="from-name-{{$index}}" class="col-2 col-form-label">From*</label>
                  <div class="col-10">
                    <input class="form-control" type="text" placeholder="Enter the gift giver's name" ng-model="order.from" id="from-name-{{$index}}" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="recipient-name-{{$index}}" class="col-2 col-form-label">To*</label>
                  <div class="col-10">
                    <input class="form-control" type="text" placeholder="Enter recipient's name" ng-model="order.toName" id="recipient-name-{{$index}}" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="toEmail{{$index}}">Recipient email address*</label>
                  <input type="email" class="form-control" id="toEmail{{$index}}" aria-describedby="emailHelp" placeholder="Enter email" ng-model="order.toEmail" required>
                  <small id="emailHelp" class="form-text text-muted">Enter your own if you would like to deliver the gift yourself.</small>
                </div>
                <div class="form-group">
                  <label for="giftMessage{{$index}}">Gift Message</label>
                  <textarea class="form-control" id="giftMessage{{$index}}" ng-model="order.giftMessage" rows="3"></textarea>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="pane == 'payment'" class="col-lg-8">
        <div class="card">
          <h5 class="card-header">Payment Information</h5>
          <div class="card-body">
            <label>Card Number</label>
            <div id="sq-card-number"></div>
            <label>CVV</label>
            <div id="sq-cvv"></div>
            <label>Expiration Date</label>
            <div id="sq-expiration-date"></div>
            <label>Postal Code</label>
            <div id="sq-postal-code"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="fromEmail">Your email address*</label>
          <input type="email" class="form-control" id="fromEmail" aria-describedby="emailHelp" placeholder="Enter email" ng-model="fromEmail" required>
          <small id="emailHelp" class="form-text text-muted">You will recieve your receipt at this address.</small>
        </div>
      </div>
      <div class="col-xl-4">
        <h5 class="card-header" style="border: 1px solid rgba(0,0,0,.125); border-bottom-width: 0px">
          <span>Product</span><span class="float-right">Quantity</span>
        </h5>
        <div class="card-body" style="padding: 0;">
          <ul class="list-group">
          <li class="list-group-item justify-content-between" ng-repeat="order in cart">
            {{order.disp.variation.name}} {{order.disp.item.name}}
            <button type="button" class="btn btn-success btn-sm float-right" ng-click="quantityPlus($index)"> + </button>
            <span class="float-right">&nbsp;{{order.quantity}}&nbsp;</span>
            <button type="button" class="btn btn-danger btn-sm float-right" ng-click="quantityMinus($index)"> - </button>
            <br>
            <form>
              <div class="form-check form-check-inline mb-sm-0">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1-{{index}}" ng-click="order.couples = false;" checked="">
                  <small class="text-muted">individual</small>
                </label>
              </div>
              <div class="form-check form-check-inline mb-sm-0">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2-{{index}}" ng-click="order.couples = true;">
                  <small class="text-muted">couples</small>
                </label>
              </div>
              </form>
            <small class="text-muted">{{formatMoney(orderPrice(order))}} each</small>
            <small class="text-muted" ng-show="order.couples"> ($10 charge for same room)</small>
          </li>
          </ul>
        </div>
        <div style="border: 1px solid rgba(0,0,0,.125); padding: 5px">
        Total: {{formatMoney(total())}}
        </div>
        <div ng-show="pane == 'shop'" class="card-footer" style="border: 1px solid rgba(0,0,0,.125); border-top-width: 0px;">
          <button href="#" class="btn btn-primary" ng-click="pane = 'customize'" ng-disabled="cart.length == 0">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="pane == 'customize'">
    <button href="#" class="btn btn-secondary" ng-click="pane = 'shop'">Back</button>
    <button href="#" class="btn btn-primary" type="submit" ng-click="pane = 'payment'" ng-disabled="giftForm.$invalid">Next</button>

  </div>
  <div ng-show="pane == 'payment'">

    <!--
      After the SqPaymentForm generates a card nonce, *this* form POSTs the generated
      card nonce to your application's server.

      You should replace the action attribute of the form with the path of
      the URL you want to POST the nonce to (for example, "/process-card")
    -->
    <form name="nonceForm" id="nonce-form" action="REPLACE_ME" method="post">


      <!--
        Whenever a nonce is generated, it's assigned as the value of this hidden
        input field.
      -->
      <input type="hidden" id="card-nonce" name="nonce">

      <!--
        Clicking this Submit button kicks off the process to generate a card nonce
        from the buyer's card information.
      -->
      <br>
      <button href="#" class="btn btn-secondary" ng-click="pane = 'customize'">Back</button>
      <button href="#" class="btn btn-success" type="submit" ng-click="requestCardNonce($event)" ng-disabled="nonceForm.$invalid">Confirm Purchase</button>
    </form>
  </div>
</div>
